.contact-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(10, 54, 65, 1);
  border: solid rgba(10, 54, 65, 1);
  width: 85 rem;
  color: white;
}
.contact-info-container {
  font-family: "Kameron";
  font-size: 1.5rem;
  padding: 1rem;
  width: 45%;
}
h1 {
  font-size: 2rem;
}
.open-chat-support-btn {
  width: 12rem;
  height: 6rem;
  border: solid white 5px;
  border-radius: 1rem;
  font-family: "Kameron";
  font-size: 1.5rem;
  margin-left: 1rem;
  color: white;
  background-color: rgba(6, 8, 46, 1);
}
.ten-faq-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 45%;
  font-family: "Kameron";
  font-size: 1.3rem;
  margin-left: 45rem;
  margin-top: -45rem;
}
.faq-10-questions {
  list-style: none;
}
.seperation-box-container {
  border: solid black 6px;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  color: white;
}
.faq-title {
  font-size: 2.2rem;
  font-family: "Kameron";
  display: flex;
  color: white;
  margin-top: -2rem;
  margin-left: 3rem;
}
main {
  margin-bottom: 10rem;
}

@media (max-width: 2560px) and (min-width: 1440px) {
  .contact-main-container {
    display: flex;
    margin: auto;
    width: 158rem;
  }
  .contact-info-container {
    font-size: 2rem;
    padding-left: 1rem;
    width: 40%;
  }
  h1 {
    font-size: 3rem;
  }
  .open-chat-support-btn {
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    margin-left: 0.5rem;
    padding: 0;
  }
  .ten-faq-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    font-size: 2rem;
    margin-left: 75rem;
    margin-top: -60rem;
  }
  .seperation-box-container {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    width: 50%;
    height: 4rem;
  }
  .faq-title {
    font-size: 3rem;
    margin-left: 3rem;
  }
  main {
    margin-bottom: 17rem;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .contact-main-container {
    display: flex;
    margin: auto;
    width: 60rem;
    height: 86rem;
  }
  .contact-info-container {
    font-size: 1.5rem;
    padding-left: 1rem;
    width: 90%;
  }
  h1 {
    font-size: 2rem;
  }
  .open-chat-support-btn {
    width: 9rem;
    height: 4rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    padding: 0;
  }
  .ten-faq-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    font-size: 1.2rem;
    margin-left: -1rem;
    margin-top: -36rem;
  }
  .seperation-box-container {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    width: 90%;
    height: 2rem;
  }
  .faq-title {
    font-size: 2rem;
    margin-top: -2rem;
    margin-left: 3rem;
  }
  main {
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) and (min-width: 430px) {
  .contact-main-container {
    display: flex;
    margin: auto;
    width: 45rem;
    height: 86rem;
  }
  .contact-info-container {
    font-size: 1.5rem;
    padding-left: 1rem;
    width: 90%;
  }
  h1 {
    font-size: 2rem;
  }
  .open-chat-support-btn {
    width: 9rem;
    height: 4rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    padding: 0;
  }
  .ten-faq-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    font-size: 1.2rem;
    margin-left: -1rem;
    margin-top: -36rem;
  }
  .seperation-box-container {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    width: 90%;
    height: 2rem;
  }
  .faq-title {
    font-size: 2rem;
    margin-top: -2rem;
    margin-left: 3rem;
  }
  main {
    margin-bottom: 2rem;
  }
}
@media (max-width: 430px) and (min-width: 350px) {
  .contact-main-container {
    width: 25.5rem;
    height: 85rem;
  }
  .contact-info-container {
    font-size: 1.2rem;
    padding-left: 1rem;
    width: 90%;
  }
  h1 {
    font-size: 2rem;
  }
  .open-chat-support-btn {
    width: 9rem;
    height: 4rem;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    padding: 0;
  }
  .ten-faq-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    font-size: 0.9rem;
    margin-left: -1rem;
    margin-top: -37rem;
  }
  .seperation-box-container {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    width: 100%;
    height: 2rem;
  }
  .faq-title {
    font-size: 1.5rem;
    margin-top: -2rem;
    margin-left: 3rem;
  }
  main {
    margin-bottom: 2rem;
  }
}
@media (max-width: 350px) and (min-width: 50px) {
  .contact-main-container {
    margin: auto;
    width: 19rem;
    height: 73rem;
  }
  .contact-info-container {
    font-size: 0.9rem;
    padding: 0.5rem;
    width: 80%;
  }
  h1 {
    font-size: 1.5rem;
  }
  .open-chat-support-btn {
    width: 9rem;
    height: 4rem;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    padding: 0;
  }
  .ten-faq-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    font-size: 0.9rem;
    margin-left: 0rem;
    margin-top: -36rem;
  }
  .seperation-box-container {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    width: 80;
    height: 2rem;
  }
  .faq-title {
    font-size: 1.5rem;
    margin-top: -2rem;
    margin-left: 3rem;
  }
  main {
    margin-bottom: 0rem;
  }
}
